<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.diagnostics>
    <sharedListeners>
      <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime,ProcessId" />

      <!-- Admin permission is required for LogAnalyticsTraceListener -->
      <add name="amListener" type="RzWork.AzureMonitor.LogAnalyticsTraceListener, RzWork.AzureMonitor.TraceListener" />
    </sharedListeners>

    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="consoleListener" />
        <add name="amListener" />
      </listeners>
    </trace>

  </system.diagnostics>
</configuration>